@use "~bootstrap/scss/bootstrap" as *;


img {
    width: 286px;
    height: 286px;
    object-fit: contain;
}

.header-link {
    text-decoration: none;
}

header {
    padding-left: 1rem;
    padding-top: 2rem;
}
